<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender with simple pattern -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Explicitly disable Hibernate SQL logging -->
    <logger name="org.hibernate.SQL" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.hibernate.type.descriptor.sql" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.hibernate.engine.jdbc.env.internal.JdbcEnvironmentInitiator" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.hibernate.engine.transaction.internal.TransactionImpl" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Application logging -->
    <logger name="com.movieapi" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- Spring Framework logging -->
    <logger name="org.springframework.web" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.springframework.boot" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.springframework.security" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- Tomcat logging -->
    <logger name="org.apache.catalina" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.apache.tomcat" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- Actuator logging -->
    <logger name="org.springframework.boot.actuate" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root logger - catch everything else -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration> 